@import '@/style/mixin.scss';
view,
page,
text,
button,
image,
textarea,
scroll-view,input {
	box-sizing: border-box;
}
image {
	display: block;
}
button {
	margin: 0;
	padding: 0;
	background-color: #FFFF;
}
button::after {
	border: none;
}
// 主题背景色
.themeBgColor {
	background-color: $themeColor;
}
// 主题字体色
.themeFontColor {
	color: $themeColor !important;
}